:root{
	--mainBackground:#1f1d1c;
	--mainBackgroundLight:#2f2d2a;
	--mainBackgroundDark:#0d0c0c;
	--font:#fff;
	--secondaryColor:#EB5E28;

}

/* ESTILOS DEL INDEX HTML */

html{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
body{
	margin: 0;
	height:100%;
	width:100%;
	padding:0;
	background-color:var(--mainBackgroundLight);
	transition:.3s ease all;
}
body.light{
	background-color:#fff;
}
body::-webkit-scrollbar{
	width: 0.25rem;
}
body::-webkit-scrollbar-track{
	background-color:var(--mainBackground);
}
body::-webkit-scrollbar-thumb{
	background-color:var(--secondaryColor)
}
/* NAVBAR */
.navbar{
	position:fixed;
	background-color: var(--mainBackground);
	transition: width 200ms ease;
	padding: 0;
}
.navbar.light{
	background-color:rgb(195, 195, 195);
}

       /* flex Container */

.navbar-nav{
	list-style: none;
	padding: 0;
	margin: 0;
	display:flex;
	flex-direction: column;
	align-items: center;
	height:100%;
}

    /* nav items */

.nav-item{
	width: 100%;
}
.nav-item:last-child{
	margin-top: auto;
}
	/* nav logo */
.logo{
	font-weight: bold;
	text-transform:uppercase;
	margin-bottom:1rem;
	text-align: center;
	color: var(--secondaryColor);
	background-color:var(--mainBackgroundDark);
	font-size:1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.3ch;
	width: 100%;
}
.logo.light{
	background-color:rgb(87, 87, 87)
}
.logo-text{
	margin-right:10px;
}
.logo-icon{
	transform: rotate(0deg);
	transition: transform 600ms;
	max-width:1.5rem;
	margin-left: 25px;
}
.navbar:hover .logo-icon{
	transform: rotate(-180deg);
}
	/*nav links & text*/

.nav-link{
	display:flex;
	align-items:center;
	height: 5rem;
	color:var(--secondaryColor);
	text-decoration:none;
	filter: grayscale(100%) opacity(0.7);
	transition:all 600ms;
}
.nav-link:hover{
	filter: grayscale(0%) opacity(1);
	background-color:var(--mainBackgroundDark);
	color: var(--secondaryColor);
}
.nav-link.light:hover{
	background-color:rgb(255, 255, 255);
}
.link-text{
	display:none;
	margin-left:1rem;
}


    /* icons */

.icon{
	min-width: 2rem;
	margin: 0 1.5rem 0 1.9rem;
}
/* TITULO PRINCIPAL */
main{
	margin-left: 5rem;
}
.materiasH1.light{
	background-color:#fff;
}
.h1container{
	padding-top:20px;
}
main h1{
	display: flex;
	justify-content: center;
	align-content: flex-start;
	background-color: var(--mainBackgroundLight);
	color: var(--secondaryColor);
	border: 2px solid var(--secondaryColor);
	padding: 15px;
	margin: 15px;
	margin-top: 0;
	border-radius: 2px;
	user-select: none;
	text-align: center;
	
}
main h1.light{
	background-color:#fff;
}
/* SECCION PRINCIPAL */
.main{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction:column;
	background-color:var(--secondaryColor);
	color: var(--font);
	padding: 15px;
	margin: 0 15px;
	border-radius: 5px;
	box-shadow: -1px 2px 5px 0px rgba(196,81,36,0.75);
	-webkit-box-shadow: -1px 2px 5px 0px rgba(196,81,36,0.75);
	-moz-box-shadow: -1px 2px 5px 0px rgba(196,81,36,0.75);
}
.previewUser{
	margin-bottom:5px;
	font-weight: bold;
}
.ups{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
	user-select: none;
}
.ups img{
	max-width: 500px;
	margin-top: 50px;
	-webkit-user-drag: none; /* Safari */
	
}
.ups p{
	color: var(--secondaryColor);
	font-size:1.5em;
	margin-top: 40px;
	display: flex;
	text-align: center;
}
/* GRUPO DE BOTONES QUE SE VEN EN LA PAGINA PRINCIPAL */
.buttonGroup{
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	margin: 15px;
}
/* BOTON 'AÑADIR ALUMNO' y BOTON 'ELIMINAR REGISTRO'*/
.buttonGroup-Add,.Eliminar-Button,.deleteStudent{
	color: var(--secondaryColor);
	outline:none;
	border: 2px solid var(--secondaryColor);
	background-color:var(--mainBackgroundLight);
	padding: 7px;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 15px;
}
.buttonGroup-Add.light,.Eliminar-Button.light{
	background-color: #fff;
}

.buttonGroup-Add:hover,.Eliminar-Button:hover,.deleteStudent{
	border: 2px solid var(--secondaryColor);
	background-color: var(--secondaryColor);
	color: #fff;
}
/*Delete Student button*/
.deleteStudent{
	text-align: left;
	background-color:#a14019;
	align-self: flex-start;
	transition:opacity 200ms ease-in;
}
.deleteStudent:hover{
	opacity: .6;
}
/*clase que se le agrega a las cards cuando el boton eliminar registro es presionado*/
.selectedCard{
	box-shadow: -1px -1px 5px 3px rgba(235,94,40,0.7);
	-webkit-box-shadow: -1px -1px 5px 3px rgba(235,94,40,0.7);
	-moz-box-shadow: -1px -1px 5px 3px rgba(235,94,40,0.7);
	opacity:.8;
}
	
/* LINK PARA IR A LA SECCION DE 'REGISTRO DE ALUMNOS' */
.registroLink{
	color: var(--secondaryColor);
	text-decoration: none;
}
.registroLink:hover{
	text-decoration: underline;
	color: var(--secondaryColor);
}

/* MODAL */
    /* TITULO */
	.tituloModal{
		display: flex;
		justify-content:center;
		font-size:40px;
		font-weight:bold;
		margin:10px 0;
	}
	/* CONTENEDOR */
.modalContainer{
	display:flex;
	position:fixed;
	z-index: 100;
	justify-content: center;
	width:100vw;
	height:100vh;
	margin-top:0;
	background-color: rgba(0, 0, 0, 0.685);
}
  /* MODAL */
.modal{
	display:flex;
	flex-direction: column;
	background-color:var(--mainBackgroundLight);
	color: var(--font);
	width:auto;
	height: 720px;
	max-height:650px;
	justify-content:center;
	margin:auto auto;
	align-items:center;
	align-content: center;
	border-radius: 5px;
	padding: 15px;
	padding-bottom:40px;
	z-index: 1;
	overflow: hidden;
	position:relative;

}
.modal.light{
	background-color:rgb(235, 235, 235);
	color:#2f2d2a;
}
.modal.light .datosAlumno{
	background-color:rgb(255, 255, 255);
	box-shadow: 0 0 5pt 2pt #D3D3D3;
	color: #0d0c0c;
}
/* FORM DEL MODAL */
.modal form{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-content:center;
	padding:10px 20px;
	max-width: 100%;
	max-height:500px;
	
}
/* CONJUNTO DE DATOS PERSONALES (NOMBRE,APELLIDO,EDAD) */
.datos{
	display: flex;
	justify-content:center;
	margin: auto auto;
}

.datosAlumno{
	background-color: var(--mainBackground);
	color: #fff;
	border:none;
	outline: none;
	box-shadow: 0 0 5pt 2pt #272727;
	border-radius: 5px;
	padding: 10px;
	margin:10px 20px;
}
.datosAlumno::placeholder{
	color: var(--mainBackgroundLight);
}
.modal.light .datosAlumno::placeholder{
	color:rgb(124, 124, 124);
}
/* GRUPO DE MATERIAS */
.grupoDeMaterias{
	display:flex;
	justify-content:center;
	/* padding:10px; */
	margin: 20px;

}
/* LABEL DE  MATERIAS */
.materia{
	margin:10px 0px;
	background-color:transparent;
	border-bottom:2px solid var(--secondaryColor);
	color: var(--secondaryColor);
	margin:0 20px;
	padding: 8px;
	border-radius: 0px;
}
/* INPUT DE MATERIAS */
#matematica,#quimica,#fisica,#historia,#geografia,#biologia{
	margin: 20px 0;
	color: #fff;
	border:none;
	background-color: var(--mainBackground);
	box-shadow: 0 0 5pt 2pt #272727;
	padding:5px;
	border-radius: 2px;
}
#matematica,#quimica,#fisica,#historia,#geografia,#biologia::placeholder{
	color:rgb(144, 144, 144);
}
.modal.light #matematica.light,#quimica.light,#fisica.light,#historia.light,#geografia.light,#biologia.light{
	background-color:rgb(255, 255, 255);
	box-shadow: 0 0 5pt 2pt #D3D3D3;
	color: #0d0c0c;
}
.modal.light #matematica.light,#quimica.light,#fisica.light,#historia.light,#geografia.light,#biologia.light::placeholder{
	color: rgb(0, 0, 0);
}
/* GRUPOS DE MATERIAS (SE DIVIDEN EN 3 PAREJAS DE 2 MATERIAS) */
.materiasGrupo1,.materiasGrupo2,.materiasGrupo3{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
/* BOTON PARA GUARDAR CAMBIOS Y AGREGAR ALUMNO AL REGISTRO */
.modalBtnGroup{
	display: flex;
	justify-content:center;
	align-content: center;
	align-items: center;
	margin-top: 50px;
}
.saveBtn{
	border:none;
	padding:10px 0;
	border-radius: 5px;
	outline:2px solid var(--secondaryColor);
	outline-offset: 2px;
	color: #fff;
	background-color: var(--secondaryColor);
	cursor: pointer;
	font-weight: bold;
	font-size: .7em;
	width: 25%;
	margin: 10px;
	
}

/* BOTON PARA CANCELAR CAMBIOS */
.quitBtn{
	border:none;
	padding:9px 0;
	border-radius: 5px;
	outline:2px solid var(--secondaryColor);
	outline-offset: 2px;
	color: var(--secondaryColor);
	background-color:transparent;
	cursor: pointer;
	font-weight: bold;
	font-size: .7em;
	width: 25%;
	margin: 10px;
}
.quitBtn:hover{
	background-color:var(--secondaryColor);
	color: var(--font);

}



/* ESTILOS DE registroAlumnos.html */
#cardsContainer{
	position: absolute;
	z-index: -100;
	margin:40px;
	padding-bottom: 100px;
}
.card{
	background-color: var(--mainBackground);
	color: var(--font);
	border: none;
	box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.56);
	-webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.56);
	-moz-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.56);
	transition: transform 200ms ease-in;
}
.card.light{
	background-color: rgb(195, 195, 195);
	color: rgb(110, 110, 110);
}

.card:hover{
	transform:scale(.98,.98);
	cursor: pointer;
	color: var(--secondaryColor);
}
/* Materias Info */
.infoContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	width: 100%;
	margin: 70px auto;
}
.infoContainer h2{
	color: var(--secondaryColor);
	padding-top: 20px;
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
	/* font-weight: bold; */
}
.infoContainer p{
	color: var(--font);
	text-align: center;
	margin:0 ;
}
.infoImagen{
	max-width: 300px;
	border-radius: 50%;
}
.infoContainerparagraph.light{
	color: var(--mainBackgroundDark);
}

/* LARGE SCREENS */
@media only screen and (min-width:600px){
	.navbar{
	top:0;
	width: 5rem;
	height: 100vh;
}
	.navbar:hover{
   width: 16rem;
}
   .navbar:hover .link-text{
   display:inline;
   transition:opacity 600ms;
}
   #cardsContainer{
	display: flex;
	margin:0;
	width: 100%;
	padding: 2% 20% 5% 15%;
	/* max-width: 1000px; */
   }
}

@media screen and (max-width:816px) {
	.modal{
		width:auto;
		max-width: 500px;
		height: 900px;
		max-height:900px;
	
	}
	/* FORM DEL MODAL */
	.modal form{
		max-height:900px;
		
	}
	.datos{
		display:flex;
		flex-wrap: wrap;
	}
	.modal p{
		text-align: center;
		font-size: 1.7em;
	}
}

/* SMALL SCREENS */
@media only screen and (max-width:600px){
	.navbar{
		bottom: 0;
		width: 100vw;
		height:5rem;

	}
	.logo{
		display:none;
	}
	.navbar-nav{
		flex-direction: row;
		width: 100%;
	}
	.nav-link {
		justify-content: center;
	}
	.nav-link:hover{
		color: var(--secondaryColor);
	}
	main{
		margin: 0;
	}
	/*home*/
	.ups{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		align-content: center;
		user-select: none;
	}
	.ups img{
		max-width: 300px;
		margin-top: 50px;
		-webkit-user-drag: none; /* Safari */
		
	}
	.ups p{
		color: var(--secondaryColor);
		font-size:1.5em;
		margin-top: 40px;
		display: flex;
		text-align: center;
		max-width: 300px;
	}
	/* MODAL */
	.modalContainer{
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		margin: auto 0;
		height:auto;	
	}
	.modal, .modal form p{
		font-size: 1em;
	}
	.modal{
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;
		justify-content: flex-start;
		margin-bottom: 500px;
		margin-top: 100px;
		max-height:480px;
	}
	.modal form{
		max-height: none;
		height: auto;
		padding: 0;
	}
	.grupoDeMaterias{
		flex-direction: column;
		max-height:none;
		align-content: flex-start;
	}
	.modalBtnGroup{
		margin-top: 20px;
	}
	.modal p{
		text-align: center !important;
	}
}
/*Smallest one*/
@media only screen and (max-width:400px){
	.app{
		height: auto;
		min-height: 480px;
	}
	.h1container h1{
		font-size: 1em;
	}
	.registroAlumnos{
		min-height: 480px;
	}
	.navbar{
		max-height: 50px;
	}
	.nav-link{
		max-height: 3rem;
	}

	.icon{
		margin: auto;
		min-width: 1rem;
	}
	.switch{
		margin-bottom:10px;
	}
	.navbar-nav{
		max-height: 3rem;
	}
	.errorMsg{
		margin-bottom:300px;
	}
	/* MODAL */
	.modalContainer{
		justify-content: flex-start;
		height:auto;	
	}
	.modal, .modal form p{
		font-size: 1em;
	}
	.modal{
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;
		justify-content: flex-start;
		margin-bottom: 1000px;
		margin-top: 0;
		max-height:480px;
	}
	.modal form{
		max-height: none;
		height: auto;
		padding: 0;
	}
	.grupoDeMaterias{
		flex-direction: column;
		max-height:none;
		align-content: flex-start;
	}
	.modalBtnGroup{
		margin-top: 20px;
	}
	
}

